$primary-color: black;
// $secondary-color: rgb(165, 161, 161);
$secondary-color:#ec9f05;
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
html,
body,
header,
#intro {
  height: 100vh;
}

#intro {
  background: url("") no-repeat top center fixed;
  background-size: cover;
}

.navbar {
  box-shadow: none;

  #button {
    font-size: 16px;
    // padding: 15px 45px;
    &:hover {
      background-color: deeppink;
      color: pink;
    }
  }
}
// .intro{
//   background: rgb(34,193,195);
//   background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);

.mask {
  // background: rgb(34,193,195);
  // background: linear-gradient(0deg, rgb(124, 119, 119) 0%, rgb(184, 91, 16),
  // #fdb400 100%);
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);

  .container-section {
    .container-introduction {
      h1 {
        // color: white;
        font-weight: 800;
        font-size: 58px;
        font-family: fantasy;
        color: white;
        span {
          font-weight: 800;
          font-size: 58px;
          font-family: fantasy;
          color:rgb(253, 199, 99);
        }
      }
      .contract-address {
        color: $primary-color;
        font-weight: 800;
      }
      .address {
        color: $primary-color;
      }
      .header-text {
        color: $primary-color;
        font-weight: bolder;
        font-size: 28px;
      }
      // h2 {
      //   color: white;
      //   font-weight: 800;
      //   font-size: 58px;
      // }
      .container-button {
        .btn {
          text-transform: uppercase;
          background-color: silver;
          color: black;
          text-transform: capitalize;
          padding: 12px;
          font-size: 13px;
          &:hover {
            background-color: $secondary-color;
            color: $primary-color;
          }
        }
      }
      
    }
  }
}
// }
@media (max-width: 767px) {
  .mask {
    margin-top: 32px !important;

    h1 {
      font-size: 45px !important;
    }
    h2 {
      font-size: 54px !important;
    }
  }
}

.top-nav-collapse {
  background-color: $secondary-color;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: $secondary-color;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: $secondary-color;
  }
}

main {
  background-color:#eee;
  // .community-token {
  //   .subtitle {
  //     color: $primary-color;
  //     font-weight: bold;
  //   }
  //   h1 {
  //     font-size: 48px;
  //     font-weight: 800;
  //   }
  //   .btn {
  //     background-color: $primary-color;
  //     color: black;
  //     &:hover {
  //       background-color: $secondary-color;
  //       color: white;
  //     }
  //   }
  // }

  .about {
    // background-color: rgb(245, 214, 156);
    .subtitle {
      font-weight: bold;
      font-size: 20px;
      color: $primary-color;
    }
    .text {
      color: lightslategray;
      font-weight: 800;
      font-size: 25px;
    }
    h1 {
      font-size: 48px;
      font-weight: 800;
      color: $primary-color;
    }
    i {
      color: $secondary-color;
    }
    .about-button {
      a {
        color: white;
        background-color: $secondary-color;
      }
    }
  }

  // .community-steps {
  //   .subtitle {
  //     color: $primary-color;
  //     font-weight: bold;
  //   }
  //   h1 {
  //     font-size: 48px;
  //     font-weight: 800;
  //   }
  //   .btn {
  //     background-color: $primary-color;
  //     color: black;
  //     &:hover {
  //       background-color: $secondary-color;
  //       color: white;
  //     }
  //   }
  //   .people {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     text-align: center;
  //     .box {
  //       border-radius: 10px;
  //       margin-bottom: 25px;
  //       background: radial-gradient(
  //         at top left,
  //         rgb(54, 5, 54),
  //         $secondary-color
  //       );
  //       color: white;
  //       h4 {
  //         font-weight: bold;
  //       }
  //       .card-img {
  //         width: 80px;
  //         height: 80px;
  //         position: relative;
  //         top: 0;
  //         transition: top ease 0.5s;
  //         &:hover {
  //           top: -8px;
  //         }
  //       }
  //       .btn {
  //         background: white;
  //         color: black;
  //         &:hover {
  //           background: $primary-color;
  //           color: white;
  //         }
  //       }
  //     }
  //   }
  // }
  .roadmap{
    // background-color: rgb(252, 177, 39);
  }
  .roadmap-points{
    color: $secondary-color;
  }
  .timeline {
    border-left: 3px solid black;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    // background: rgba(114, 124, 245, 0.09);
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 40%;
  }

  @media (max-width: 767px) {
    .timeline {
      max-width: 98%;
      padding: 25px;
    }
  }

  .timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
  }

  .timeline h2,
  .timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .card-title {
    color: $primary-color;
    font-weight: bold;
  }

  .timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
    color: $primary-color;
  }

  @media (max-width: 767px) {
    .timeline .event {
      padding-top: 30px;
    }
  }

  .timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }

  .timeline .event:before,
  .timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
  }

  .timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
  }

  @media (max-width: 767px) {
    .timeline .event:before {
      left: 0px;
      text-align: left;
    }
  }

  .timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px black;
    box-shadow: 0 0 0 3px black;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
  }

  @media (max-width: 767px) {
    .timeline .event:after {
      left: -31.8px;
    }
  }

  .rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
  }

  .rtl .timeline .event::before {
    left: 0;
    right: -170px;
  }

  .rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
  }
}
.pie-chart {
  h1 {
    color: $primary-color;
    font-weight: bold;
  }
  .row {
    i {
      color: $secondary-color;
    }
  }
  // i {
  //   color: $primary-color;
  // }
}
#myChart {
  width: 500px;
  max-width: 1000px;
}
footer {
  color: white;
  .container-footer {
    .subtitle {
      font-weight: bold;
      font-size: 10px;
      color: $primary-color;
    }
    .text {
      color: white;
      font-weight: 800;
      font-size: 25px;
    }
    h1 {
      font-size: 48px;
      font-weight: 800;
      color: saddlebrown;
    }

    .form-control {
      background-color: white;
      color: black;
      border-radius: 50px;
    }
    .footer-button {
      .btn{
        background-color: silver;
        color:$primary-color;
      }
     
    }
  }
}
